* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

nav {
  background-color: rgb(255, 255, 255);
  
}

.container {
  border-radius: 10px;
}

.wrapper-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nutlink {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 18px;
  font-size: 18px;
}
.my-btn{
  color:rgb(255, 252, 252);
  background-color: rgba(255, 0, 0, 0.822) !important;
  padding: 11px 25px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
}

.doimau a:hover{color:#e1ff00}
.item {
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
}
.row {
  width: 1200px;
  height: 800px;
}


.img-content-first {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
  position: relative;
}
.lst-new-home {
  width: 100%;
  height: 60%;
  display: flex;
}
.icf1 {
  width: 45%;
  height: 100%;
}
.lnh1 {
  width: 50%;
  height: 100%;
  position: relative;
}
.lnh2 {
  width: 100%;
  height: 50%;
  display: flex contents;
}
.lnh2-item1 {
  width: 100%;
  height: 100%;
  margin-left: 30px;
  display: flex;
}
.lnh2-item2 {
  width: 100%;
  height: 100%;
  margin-left: 30px;
  position: relative;
}
.li11 {
  width: 50%;
  height: 100%;
  position: relative;
}
.li12 {
  width: 50%;
  height: 100%;
  position: relative;
}
.MDT-item {
  width: 100%;
  height: 200px;
  background-color: aqua;
  margin-top: 30px;
  position: relative;
}
.row-1 {
  width: 1200px;
  height: 800px;
  justify-content: center;
}
.icf-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #ffffff;
  top: 30%;
}
.download {
  width: 240px;
  height: 48px;
  line-height: 48px;
  background: #BD0017;
  float: left;
  border-radius: 30px;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none !important;
}
.mc-cafe {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #ffffff;
  font-size: 50px;
  bottom: 8%;
}
.li11-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #ffffff;
  bottom: 15%;
}
.li12-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #ffffff;
  bottom: 15%;
}
.lnh2-item21 {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #ffffff;
  bottom: 15%;
}
.download2 {
  width: 240px;
  height: 48px;
  line-height: 48px;
  background: #ffffff;
  float: left;
  border-radius: 30px;
  color: #c70f0f !important;
  text-align: center;
  text-decoration: none !important;
}
.tbanner-home {
  position: absolute;
  left:180px;
  color: #ffffff;
  bottom: 15%;
  text-align: center;
  top: 24%;
}
.download3 {
display: inline-block;
float: left;
width: 150px;
height: 48px;
background-color: #BD0017;
position: relative;
margin: 0 0 0 0;
border-radius: 50px;
}
.download3 img {
  width: 36px;
  height: auto;
  margin: 6px 0 0 6px;
}
.download3 p {
  color: white;
  font-size: 12px;
  float: left;
  top: 4px;
  left: 52px;
  position: absolute;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
.download3 p span {
   color: #ffc836;
   font-size: 16px;
}
.download4 {
  display: inline-block;
  float: left;
  width: 150px;
  height: 48px;
  background-color: #BD0017;
  position: relative;
  border-radius: 50px;
  margin-left: 10px;
  }
  .download4 img {
    width: 36px;
    height: auto;
    margin: 6px 0 0 6px;
  }
  .download4 p {
    color: white;
    font-size: 12px;
    float: left;
    top: 4px;
    left: 52px;
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }
  .download4 p span {
     color: #ffc836;
     font-size: 16px;
  }
  .search-footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .search-footer-item {
    width:1090px ;
    height: 100%;
  }
.row-2 {
  width: 30%;
  height: 100%;

}
.tbox-daily {
  width: 100%;
  height: 70%;
}
.tbox-daily p {
  margin: 0 0 10px;
  text-align: center;
}